body {
	margin: 0 auto;
	max-width: 2000px;
	font-family: Lato;
}

header .cookies {
	height: 72px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #194277;
}

header .cookies span {
	font-size: 14px;
	font-weight: 400;
	line-height: 36px;
}

header .cookies button {
	width: 112px;
	height: 30px;
	border: none;
	color: #194277;
	font-size: 12px;
	font-weight: 700;
	margin-left: 51px;
	border-radius: 15px;
	line-height: 16.36px;
	letter-spacing: 0.55px;
	background-color: #fff;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
	max-width: 1170px;
}

header .portfolio, footer {
	color: #fff;
	background-color: #3695ff;
}

header .portfolio {
	display: flex;
	justify-content: center;

}

header .portfolio nav {
	text-align: right;
	margin-top: 31px; 
}

.nav_menu {
    height: 100%;
    max-height: 20px;
    margin-top: 31px;
}

header .portfolio h1 {
	font-size: 50px;
	padding: 0 11%;
	font-weight: 400;
	line-height: 60px;
	letter-spacing: 1.25px;
	text-transform: uppercase;
	font-family: "Lato - Black";
}

header .portfolio p {
	padding: 0 15% 64px 15%;
	font-size: 16px;
	font-weight: 300;
	line-height: 35px;
	letter-spacing: 0.4px;
	text-transform: uppercase;
}

header .author {
	text-align: center;
}

header .author img {
	border-radius: 50%;
	margin: 62px 0 42.5px 0;
	box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.3),
    0 0 0 15px rgba(255, 255, 255, 0.09);

}

header .portfolio .arrow {
	height: 32px;
	background: url(../img/arrow.png) no-repeat center;
	margin: 92px 0 22px 0;
}

main .about {padding-bottom: 115px;}

main section h2, .hire_title {
	margin: 0;
	display: flex;
	color: #3677fd;
	font-size: 50px;
	font-weight: 300;
	line-height: 35.12px;
	padding: 100px 0 70px 0;
	justify-content: center;
}

main section div,
main section p {
	color: #5a5a5a;
	font-size: 16px;
	font-weight: 400;
	line-height: 35px;
	font-family: Lato;
	text-align: center;
}

main .courses {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

main .courses:last-child{padding-bottom: 11px;}

main .course {
	width: 360px;
	display: flex;
	margin: 0 15px;
	align-items: center;
	flex-direction: column;
}

main .expert h3 {
	border: 2px solid transparent;
	color: #3677fd;
	font-size: 24px;
	font-weight: 700;
	line-height: 24px;
	margin-top: 60px;
	text-transform: uppercase;
}

main .expert span {
	width: 140px;
	height: 140px;
	display: flex;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	border: 1px solid #b7c0c9;
}

main span.phone {background: url(../img/phone.png) no-repeat center;}
main span.letop {background: url(../img/letop.png) no-repeat center;}
main span.code {background: url(../img/code.png) no-repeat center;}
main span.product {background: url(../img/product.png) no-repeat center;}
main span.uxui {background: url(../img/uxui.png) no-repeat center;}
main span.camera {background: url(../img/camera.png) no-repeat center;}

main .expert img {
	display: block;
	align-items: center;
	justify-content: center;
}

main .expert p {margin: 9px 0 100px 0;}
main .expert h2 {margin-bottom: 40px;}


main .expert, main .clients {background-color: #f1f8ff;}

main .works {
	display: flex;
	flex-wrap: wrap;
	padding-top: 17px;
	padding-bottom: 174px;
	justify-content: space-around;
}

main .work {
	width: 359px;
	height: 269px;
	display: flex;
	margin: 17px auto;
	border-radius: 10px;
	align-items: center;
	justify-content: center;
	border: 1px solid #f4f4f4;
	background-color: #f3f3f3;
}

main .work img {align-items: center;}


main .clients .wrapper {
    display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding-bottom: 95px;
    justify-content: space-around;
}

main .clients img {
	padding: 20px;
	filter: grayscale(1) opacity(0.3);
}

footer {
	font-size: 50px;
	font-weight: 300;
	font-family: "Lato Light";
}

footer strong {
	font-weight: 700;
	font-family: "Lato - Bold";
}

footer button,
header .portfolio button {
	border: none;
	width: 204px;
	height: 55px;
	color: #3695ff;
	font-size: 16px;
	font-weight: 700;
	line-height: 30px;
	border-radius: 28px;
	letter-spacing: 0.4px;
	background-color: #fff;
	text-transform: uppercase;
}

footer .fix {
	height: 247px;
	display: flex;
	flex-wrap: wrap;
	max-height: 347px;
	text-align: center;
	align-items: center;
	justify-content: space-evenly;
}

:focus {outline: 0;}
ol, li {list-style: none;}

@media screen and (max-width: 992px) {
	.lng_ico {
		top: -60px;
		position: relative;
		justify-content: center !important;
	}
	.hire_form button {margin-top: -35px;}
	.modal_hire, .hire_form, .hire_form input, .hire_form textarea {width: 90% !important;}
}

@media screen and (max-width: 576px) {
	.nav_modal {
		top: 3% !important;
		position: absolute !important;
	}
	.social {
		padding-top: 30px !important;
			flex-wrap: wrap !important;
			width: 50% !important;
	}
	.social a {margin: 5px;}
	.modal_hire {
    	top: 1px !important;
		height: 99%;
		position: fixed !important;
	}
	.lng_ico {top: -25%;}
	
    .nav_link{margin: 0px !important;}

	header .cookies {height: 108px;}
	main .about .wrapper, main .work {width: 90% !important;}
	header .portfolio h1, footer {font-size: 40px !important;}
	header .cookies, header .portfolio, main .about .wrapper, footer {padding: 0 5%;}
}

button:hover, button:focus {background-color: #c3d2e4 !important;}

main .courses span:hover,
main .courses span:focus {
	height: 136px;
	border: 3px solid #fff;
}

main .expert h3:hover,
main .expert h3:focus {border-bottom: 2px solid #3677fd;} 

main .work:hover, 
main .work:focus {filter: opacity(.7);}

main .clients img:hover, 
main .clients img:focus {filter: none;}

img:hover, img:focus,
main .expert h3:hover,
main .expert h3:focus,
main .courses span:hover,
main .courses span:focus
button:hover, button:focus, 
header .portfolio .arrow:hover, 
header .portfolio .arrow:focus {cursor: pointer !important;}

.nav_btn {
	width: 45px !important;
	display: flex !important;
    margin-left: auto !important;
    flex-direction: row !important;
    justify-content: right !important;
    background-color: rgba(255, 255, 255, 0) !important;
}

.nav_btn:hover, .nav_btn:focus {background-color: transparent !important;}

.nav_btn:focus+ .nav_modal {
    filter: alpha(Opacity=100);
    opacity: 1;
    visibility: visible;
    box-shadow: 0 0 0 9999px rgba(0,0,0, 0.7);
}

.nav_img {
    width: 100%;
    max-width: 25px;
    height: 100%;
    max-height: 19px;
    filter: alpha(Opacity=75);
    opacity: 0.75;
}

.nav_img:hover {
    filter: alpha(Opacity=100);
    opacity: 1;
}

.nav_modal {
    filter: alpha(Opacity=0);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-in-out;
    background-color: #ffffff;
    width: 90%;
    max-width: 1173px;
    height: 90%;
    min-height: 704px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    z-index: 99;
    margin: 0 auto;
}

.nav_link {
    font-size: 40px;
    line-height: 70px;
    padding: 95px 0 81px;
}

.nav_link a {
    color: #d2d2d2;
    text-transform: capitalize;
}

.nav_link a:hover {color: #3677fd;}

.social {
    width: 287px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 75px 54px 0;
    border-top: 2px solid rgba(25, 66, 119, 0.7);
}

.social a {
    height: 50px;
    width: 50px;
    background-color: #e1e1e1;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.social a:hover {background-color: #3684fe;}
.social img { margin: 0 auto;}

.lng_ico {
    display: flex;
    justify-content: flex-end;
    height: 22px;
}

.lng_ico p {
    display: flex;
    align-items: center;
    color: #d2d2d2;
    text-transform: uppercase;
    margin: -24px 24px 0;
    filter: alpha(Opacity=80);
    opacity: 0.8;
}

.lng_ico p:hover {
    color: #3677fd;
    filter: alpha(Opacity=100);
    opacity: 1;
}

.lng_ico img {
    margin-left: 14px;
    width: 37px;
    height: 22px;
}

.hire {
    display: flex;
    justify-content: center;
}

.hire_btn:focus+ .modal_hire {
    filter: alpha(Opacity=100);
    opacity: 1;
    visibility: visible;
    box-shadow: 0 0 0 9999px rgba(0,0,0, 0.7);
}

.modal_hire {
    filter: alpha(Opacity=0);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-in-out;
    background-color: #ffffff;
    width: 100%;
    max-width: 812px;
    height: 100%;
    max-height: 623px;
    border-radius: 15px;
    margin: 0 auto;
    position: absolute;
	top: 100px;
    z-index: 999999;
}

.modal_hire_foot {
	top: 1px;
	position: fixed;
}

.modal_hire h2 {
	font-weight: 400;
	padding: inherit !important;
	text-transform: uppercase;
	margin: 63px auto 59px auto;
}

.hire_form {
    margin: 0 auto;
    width: 100%;
    max-width: 517px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hire_form input {
    width: 100%;
    max-width: 517px;
    height: 100%;
    font-size: 16px;
    border-radius: 15px;
    border: 1px solid #b7c0c9;
    padding: 16px 0 17px 20px;
    margin-bottom: 16px;
}

.hire_form textarea {
    width: 100%;
    max-width: 517px;
    height: 100px;
    max-height: 180px;
    font-size: 16px;
    border-radius: 15px;
    border: 1px solid #b7c0c9;
    padding: 17px 0 60px 20px;
    margin-bottom: 46px;
}

.hire_form button {
	height: auto !important;
    font-size: 14px !important;
    text-transform: uppercase !important;
    color: #ffffff !important;
    letter-spacing: 1px !important;
    border-radius: 30px !important;
    padding: 21px 41px !important;
    background-color: #3695ff !important;
}

.nav_link {
    font-size: 40px;
    line-height: 70px;
    padding: 95px 0 81px;
}

.nav_link a {
    color: #d2d2d2;
    text-transform: capitalize;
}

.nav_link a:hover {color: #3677fd;}

.social {
    width: 287px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 75px 54px 0;
    border-top: 2px solid rgba(25, 66, 119, 0.7);
}

.social a {
    height: 50px;
    width: 50px;
    background-color: #e1e1e1;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.social a:hover {background-color: #3684fe;}
.social img { margin: 0 auto;}

.lng_ico {
    display: flex;
    justify-content: flex-end;
    height: 22px;
}
.lng_ico p {
    display: flex;
    align-items: center;
    color: #d2d2d2;
    text-transform: uppercase;
    margin: -24px 24px 0;
    filter: alpha(Opacity=80);
    opacity: 0.8;
}

.lng_ico p:hover {
    color: #3677fd;
    filter: alpha(Opacity=100);
    opacity: 1;
}

.lng_ico img {
    margin-left: 14px;
    width: 37px;
    height: 22px;
}

.hire {
    display: flex;
    justify-content: center;
}

.hire_btn:focus+ .modal_hire {
    filter: alpha(Opacity=100);
    opacity: 1;
    visibility: visible;
    box-shadow: 0 0 0 9999px rgba(0,0,0, 0.7);
}

.modal_hire {
    filter: alpha(Opacity=0);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-in-out;
    background-color: #ffffff;
    width: 100%;
    max-width: 812px;
    height: 100%;
    max-height: 623px;
    border-radius: 15px;
    margin: 0 auto;
    position: absolute;
	top: 100px;
    z-index: 999999;
}

.modal_hire_foot {
	top: 1px;
	position: fixed;
}

.modal_hire h2 {
	font-weight: 400;
	padding: inherit !important;
	text-transform: uppercase;
	margin: 63px auto 59px auto;
}

.hire_form {
    margin: 0 auto;
    width: 100%;
    max-width: 517px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hire_form input {
    width: 100%;
    max-width: 517px;
    height: 100%;
    font-size: 16px;
    border-radius: 15px;
    border: 1px solid #b7c0c9;
    padding: 16px 0 17px 20px;
    margin-bottom: 16px;
}

.hire_form textarea {
    width: 100%;
    max-width: 517px;
    height: 100px;
    max-height: 180px;
    font-size: 16px;
    border-radius: 15px;
    border: 1px solid #b7c0c9;
    padding: 17px 0 60px 20px;
    margin-bottom: 46px;
}

.hire_form button {
	height: auto !important;
    font-size: 14px !important;
    text-transform: uppercase !important;
    color: #ffffff !important;
    letter-spacing: 1px !important;
    border-radius: 30px !important;
    padding: 21px 41px !important;
    background-color: #3695ff !important;
}
